@import url("./CS1102_design.css");
/*embedded "design.css" to include additional styles for #welcome and footer*/
#header{
    border: solid white;
    margin: auto;
    display:flex;
    width:600px;
  }

  #div1{
    border: solid white;
    width:300px;
  }

  #welcome{
    text-align: center;
    border:solid black thin;
    border-radius: 4px;
    width:100%;
  }

  table {
    width: 100%;
    
  }

  tr, td{
    text-align: left;
  }

  #info{
    width: 40%;
    height:98%;
    float: left;
    border: solid black thin;
    border-radius: 4px;
    overflow: auto;
  }

  h2{
    text-align: center;
  }

  .discovery{
    text-align: center;
  }

  #promotion_information{
    border:solid black thin;
    border-radius: 4px;
    margin-left: 42%;
    height:70%;
    overflow: auto;
  }

  video{
    width:100%;
  }

  #code{
    margin-left: 42%;
    height: 25%;
    border: solid black thin;
  }

  body{
    height:100vh;
  }

  #body1{
    height:100%;
    border: solid white;
  }

  #dvideo{
    text-align: center;
  }

  #code{
    align-items: center;
    overflow: auto;
  }

  #title{
    text-align: center;
    font-weight: bold;
  }

  footer{
    border: solid black thin;
    border-radius: 4px;
  }

  span{
    font-weight: bold;
    color: red;
  }

  dt{
    font-weight: bold;
    font-size: x-large;
  }

  #makingTricky{
    display:inline-block;
    width:90%;
  }

  #hub{
    display: inline-block;
    width: 98%;
  }

  #alignHub{
    text-align: center;
  }

  /*animation for location image, when mouse hover on to image it will rotate */
  #makingTricky:hover{
    animation-name: animateImg;
    animation-duration: 1s;
  }

  @keyframes animateImg {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg); }
    100% {transform: rotate(360deg); }
  }